<div class="device-group-settings">
  <h4>{{ i18n.provisioner.deviceGroup.title }}</h4>
  <div class="form-inline" style="margin-bottom: 10px">
    <input
      type="text"
      id="group-mac"
      placeholder="{{ i18n.provisioner.deviceGroup.macPlaceholder }}"
      class="form-control"
    />
    <input
      type="text"
      id="group-name"
      placeholder="{{ i18n.provisioner.deviceGroup.groupPlaceholder }}"
      class="form-control"
    />
    <input
      type="text"
      id="subgroup-name"
      placeholder="{{ i18n.provisioner.deviceGroup.subgroupPlaceholder }}"
      class="form-control"
    />
    <button id="set-group-button" class="btn btn-primary">
      {{ i18n.provisioner.deviceGroup.setButton }}
    </button>
    <button id="get-group-button" class="btn btn-info">
      {{ i18n.provisioner.deviceGroup.getButton }}
    </button>
    <button id="delete-group-button" class="btn btn-danger">
      {{ i18n.provisioner.deviceGroup.deleteButton }}
    </button>
  </div>

  <div id="group-result" style="margin-top: 10px"></div>
</div>
