<div class="section-wrapper">
  <h4 id="custom-config-title">{{ i18n.provisioner.customConfig.title }}</h4>

  <div class="form-control">
    <div id="custom-config-show"></div>
    <br />
    <i
      class="fa fa-remove custom-config-delete"
      title="{{ i18n.provisioner.customConfig.deleteTooltip }}"
    ></i>
  </div>

  <hr />

  <div class="form-control">
    <label>{{ i18n.provisioner.customConfig.addTitle }}</label>

    <div class="form-row">
      <label for="config-brand"
        >{{ i18n.provisioner.customConfig.brandLabel }}</label
      >
      <select id="config-brand">
        <option value="">
          {{ i18n.provisioner.customConfig.brandPlaceholder }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <label for="config-family"
        >{{ i18n.provisioner.customConfig.familyLabel }}</label
      >
      <select id="config-family" disabled>
        <option value="">
          {{ i18n.provisioner.customConfig.familyPlaceholder }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <label for="config-model"
        >{{ i18n.provisioner.customConfig.modelLabel }}</label
      >
      <select id="config-model" disabled>
        <option value="">
          {{ i18n.provisioner.customConfig.modelPlaceholder }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <label for="config-group"
        >{{ i18n.provisioner.customConfig.groupLabel }}</label
      >
      <select id="config-group">
        <option value="">
          {{ i18n.provisioner.customConfig.groupPlaceholder }}
        </option>
      </select>
      <button type="button" id="show-new-group" class="btn btn-secondary">
        {{ i18n.provisioner.customConfig.addGroupButton }}
      </button>
    </div>

    <div class="form-row" style="display: none" id="new-group-container">
      <input
        type="text"
        id="new-group-name"
        class="form-control"
        placeholder="{{ i18n.provisioner.customConfig.newGroupPlaceholder }}"
      />
      <button type="button" id="save-new-group" class="btn btn-primary">
        {{ i18n.provisioner.customConfig.saveGroupButton }}
      </button>
    </div>

    <br />
    <div id="config-kv-list">
      <div class="config-kv-row">
        <input
          class="config-key"
          type="text"
          placeholder="{{ i18n.provisioner.customConfig.keyPlaceholder }}"
        />
        <input
          class="config-value"
          type="text"
          placeholder="{{ i18n.provisioner.customConfig.valuePlaceholder }}"
        />
        <button class="remove-kv btn btn-link" style="display: none">
          &times;
        </button>
      </div>
    </div>

    <button id="add-kv-row" class="btn btn-secondary" style="margin: 7px 0">
      {{ i18n.provisioner.customConfig.addRowButton }}
    </button>
    <br />
    <button id="add-config-button" class="btn btn-primary">
      {{ i18n.provisioner.customConfig.addSettingButton }}
    </button>
  </div>
</div>
