<div class="section-wrapper">
  <h4 id="custom-config-title">{{ i18n.provisioner.customConfig.title }}</h4>

  <div class="form-control">
    <textarea id="custom-config-input" rows="10" style="width: 99%">
{{custom_config}}</textarea
    >
    <br />
    <i
      class="fa fa-remove custom-config-delete"
      style="cursor: pointer; margin-left: 10px"
      title="{{ i18n.provisioner.customConfig.deleteTooltip }}"
    ></i>
  </div>

  <hr />

  <div class="form-control">
    <label>Add Custom Config Setting</label>
    <div class="form-row">
      <label for="config-brand">Brand</label>
      <select id="config-brand">
        <option value="">Select brand</option>
      </select>
    </div>

    <div class="form-row">
      <label for="config-family">Family</label>
      <select id="config-family" disabled>
        <option value="">Select family</option>
      </select>
    </div>

    <div class="form-row">
      <label for="config-model">Model</label>
      <select id="config-model" disabled>
        <option value="">Select model</option>
      </select>
    </div>
    <div class="form-row">
      <label for="config-group">Group</label>
      <select id="config-group">
        <option value="">Select group</option>
      </select>
      <button type="button" id="show-new-group" class="btn btn-secondary">
        + Add Group
      </button>
    </div>
    <div
      class="form-row"
      id="new-group-container"
      style="display: none; margin-top: 10px"
    >
      <input
        type="text"
        id="new-group-name"
        class="form-control"
        placeholder="Enter new group name"
        style="width: 70%; display: inline-block"
      />
      <button
        type="button"
        id="save-new-group"
        class="btn btn-primary"
        style="margin-left: 10px"
      >
        Save Group
      </button>
    </div>
    <br />
    <div id="config-kv-list">
      <div class="config-kv-row">
        <input
          class="config-key"
          type="text"
          placeholder="Key (e.g., features.config_dsskey_length)"
        />
        <input class="config-value" type="text" placeholder="Value (e.g., 2)" />
        <button class="remove-kv btn btn-link" style="display: none">
          &times;
        </button>
      </div>
    </div>
    <button
      id="add-kv-row"
      class="btn btn-secondary"
      style="margin: 7px 0 7px 0"
    >
      +
    </button>
    <br />
    <button id="add-config-button" class="btn btn-primary">Add Setting</button>
  </div>
</div>
