<div class="section-wrapper">
  <div class="modal-overlay">
    <div class="device-modal">
      <h3>Device Details</h3>
      <ul style="list-style: none; padding: 0; margin-bottom: 20px">
        <li><strong>Type:</strong> {{deviceType}}</li>
        <li><strong>Name:</strong> {{name}}</li>
        <li><strong>MAC Address:</strong> {{macAddress}}</li>
        <li><strong>User:</strong> {{ownerName}}</li>
        <li><strong>Enabled:</strong> {{#if enabled}}Yes{{else}}No{{/if}}</li>
      </ul>
      <div class="config-fields" style="margin-top: 15px">
        <div class="custom-config-container" style="margin-top: 20px"></div>
        {{#each customConfig}}
        <div
          class="config-pair"
          style="
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 8px;
          "
        >
          <label>Key:</label>
          <input
            type="text"
            class="config-key"
            value="{{@key}}"
            style="flex: 1"
          />
          <label>Value:</label>
          <input
            type="text"
            class="config-value"
            value="{{this}}"
            style="flex: 1"
          />
          <button type="button" class="remove-pair">🗑</button>
        </div>
        {{/each}}
      </div>
      <div class="config-fields dynamic" style="margin-top: 15px">
        <div class="config-pair">
          <label>Key:</label>
          <input
            type="text"
            class="config-key"
            placeholder="e.g. features.config_dsskey_length"
            style="flex: 1"
          />
          <label>Value:</label>
          <input
            type="text"
            class="config-value"
            placeholder="e.g. 2"
            style="flex: 1"
          />
          <!-- <button type="button" class="remove-pair">🗑</button> -->
          <button id="add-config-pair">➕</button>
        </div>
      </div>

      <button id="submit-custom-config" class="btn btn-primary">Set</button>
      <button id="delete-custom-config" class="btn btn-danger">Delete</button>
      <h3>Device Password</h3>
      <div class="device-password-section" style="margin-top: 10px">
        {{#if password}}
        <div
          id="devicepassword"
          class="devicepassword-entry"
          style="margin-bottom: 10px"
        >
          <strong>Current Password:</strong> {{password}}
          <i
            class="fa fa-remove devicepassword-delete"
            style="cursor: pointer; margin-left: 10px"
            title="Delete Password"
          ></i>
        </div>
        {{else}}
        <div><em>No password set</em></div>
        {{/if}}

        <div style="margin-top: 10px">
          <input
            id="devicepassword-set-input"
            type="text"
            placeholder="NewPa$$w0rD"
            class="form-control"
          />
          <button
            id="macdevicepassword-set-button"
            class="btn btn-primary"
            style="margin-top: 5px"
          >
            Set Password
          </button>
        </div>
      </div>
      <h3>Device Dialplan</h3>
      <div class="device-dialplan-section">
        {{#if dialplan.digit_map}}
        <p><strong>Current Digit Map:</strong> {{dialplan.digit_map}}</p>
        {{/if}} {{#if dialplan.dial_delay}}
        <p><strong>Current Dial Delay:</strong> {{dialplan.dial_delay}}</p>
        {{/if}}

        <label>Digit Map:</label>
        <input
          id="dialplan-digitmap"
          type="text"
          class="form-control"
          value="{{dialplan.digit_map}}"
        />

        <label>Dial Delay:</label>
        <input
          id="dialplan-delay"
          type="number"
          class="form-control"
          value="{{dialplan.dial_delay}}"
        />

        <div style="margin-top: 10px">
          <button id="set-device-dialplan" class="btn btn-primary">Set</button>
          <button id="delete-device-dialplan" class="btn btn-danger">
            Delete
          </button>
        </div>
      </div>

      <div class="modal-actions" style="text-align: right">
        <button id="close-modal" class="btn">Close</button>
      </div>
    </div>
  </div>
</div>
