<div class="section-wrapper">
  <h4 id="device-settings-description">
    {{@root.i18n.provisioner.deviceSetting.description}}
  </h4>

  {{#if devices.length}}
  <table>
    <thead>
      <tr>
        <th style="text-align: left">
          {{@root.i18n.provisioner.deviceSetting.deviceName}}
        </th>
        <th style="text-align: left">
          {{@root.i18n.provisioner.deviceSetting.macAddress}}
        </th>
        <th style="text-align: left">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each devices}}
      <tr data-id="{{id}}">
        <td style="text-align: left">{{name}}</td>
        <td style="text-align: left">{{mac_address}}</td>
        <td style="text-align: left">
          <button class="unlock-device" data-mac="{{mac_address}}">
            Unlock
          </button>
        </td>
        <td style="text-align: left">
          <button class="device-custom">Custom Config</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div>{{@root.i18n.provisioner.deviceSetting.noDevices}}</div>
  {{/if}}
</div>
