<div class="section-wrapper">
	<h4 id="devicepassword-description">{{ i18n.provisioner.devicePassword.description }}</h4>
	<div id="devicepassword-list">
		{{#if devicepassword}}
		<div id="devicepassword" title="account-device-password" class="devicepassword-entry">{{devicepassword}}&nbsp;&nbsp;<i class="fa fa-remove devicepassword-delete"></i></div>
		{{else}}
		  <!-- In a loop, you need to use '@root' to come back to the global scope and use the i18n variable -->
		  <div>{{ @root.i18n.provisioner.devicePassword.notset }}</div>
		{{/if}}
	</div>
	<div id="devicepassword-set" class="form-control">
		<input id="devicepassword-set-input" type="text" name="devicepassword-set" placeholder="NewPa$$w0rD"/><i class="fa fa-question-circle" data-toggle="tooltip" title="{{ i18n.provisioner.devicePassword.setDevicePassword.tooltip }}"></i><br />
		<button id="devicepassword-set-button" class="btn btn-primary">{{ i18n.provisioner.devicePassword.setDevicePassword.passwordSetButton }}</button>
	</div>
</div>

