<div class="section-wrapper">
  <h4 id="device-settings-description">
    {{@root.i18n.provisioner.deviceSetting.description}}
  </h4>

  {{#if groupedDevices}} {{#each groupedDevices}}
  <h5>Group: {{@key}}</h5>
  <table>
    <thead>
      <tr>
        <th>{{@root.i18n.provisioner.deviceSetting.deviceName}}</th>
        <th>{{@root.i18n.provisioner.deviceSetting.macAddress}}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-id="{{id}}">
        <td>{{name}}</td>
        <td>{{mac_address}}</td>
        <td>
          <button class="device-details" data-mac="{{mac_address}}">
            Details
          </button>
          <button class="dss-keys" data-mac="{{mac_address}}">DSS Keys</button>
          <button class="unlock-device" data-mac="{{mac_address}}">
            Unlock
          </button>
          <button class="check-sync" data-id="{{id}}">Check-Sync</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/each}} {{else}}
  <div>{{@root.i18n.provisioner.deviceSetting.noDevices}}</div>
  {{/if}}
</div>
