<div class="section-wrapper">
  <div class="config-fields">
    {{#if customConfig}} {{#each customConfig}}
    <div
      class="config-pair"
      style="display: flex; align-items: center; gap: 10px; margin-bottom: 8px"
    >
      <label>{{ @root.i18n.provisioner.customConfig.keyLabel }}</label>
      <input
        type="text"
        class="config-key"
        value="{{@key}}"
        style="flex: 1"
        readonly
      />
      <label>{{ @root.i18n.provisioner.customConfig.valueLabel }}</label>
      <input
        type="text"
        class="config-value"
        value="{{this}}"
        style="flex: 1"
        readonly
      />
    </div>
    {{/each}} {{else}}
    <div>{{ @root.i18n.provisioner.customConfig.noConfig }}</div>
    {{/if}}
  </div>
</div>
